.story-container{
    display: inline-block;
    margin: 40px 60px;
    background-color: white;
    border-radius: 20px;
}

.story-img{
    max-width: 50%;
    max-height: 500px;
    float: right;
    margin-top: 30px;
}
.first-story{
    padding: 20px;
    border: 2px solid #dc3545;
    border-radius: 15px;
}