.doctor-container {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}
.first-container-doc {
  display: flex;
  flex-direction: row;
  height: 50vh;
  justify-content: space-evenly;
  margin: 20px 20px 20px 20px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.doc-profile {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.left-container {
  display: flex;
  flex-direction: column;
}
.doc-img {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  width: 60%;
  max-height: 400px;
  padding: 30px;
}

.right-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.submit-button-doc {
  border-radius: 200px;
  height: 60px;
  padding: 10px;
  margin: 120px 10px;
  align-items: center;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  align-items: center;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
