.doctor-container {
  display: flex;
  flex-direction: column;
  margin: 30px 20px;
}
.first-container {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  height: 40vh;
  justify-content: space-evenly;
  margin: 20px 20px 40px 30px;
  padding-bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.left-container {
  display: flex;
  flex-direction: column;
}
.doc-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: hidden;
  width: 60%;
  max-height: 400px;
  padding-bottom: 0px;
  padding-right: 10px;
  margin-top: 5px;
}

.right-container {
  display: flex;
  flex-direction: column;
}

.book-appointmen {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  align-items: center;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
