.cont{
  background-color: #ffe1e5;
}
.doctor-container {
  display: flex;
  flex-direction: column;
  background-color: #ffe1e5;
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
  
  border-radius: 20px;
  padding: 0px;

}

.doc-profile {
  display: flex;
  flex-direction: row;
  height: 35vh;
  margin: 40px;
  margin-bottom: -18px;
  padding: 20px;
  background-color: white; 
  border-radius: 20px;
}
.top-icon{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 50px;
  margin-right: 50px;
  padding: 10px;
  top: 0;
  right: 0;
  position: absolute;
}
.doc-profile:focus,
.doc-profile:hover {
  border: 2px solid #dc3545;
  cursor: pointer;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.left-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: 10px;
  margin-left: 40px;
}
.doc-img {
  display: flex;
  flex-direction: row;
  width: 50%;
  max-height: 300px;
  vertical-align: middle;
}

.right-container {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 60px;
}

.icon{
  display: flex;
  flex-direction: row;
}
.head{
  line-height: 1;
}
.clickable{
  position: relative;
  text-decoration: none;
  color: black !important;
  top:0;
  left: 0; 
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  align-items: center;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: auto;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
