.about-container {
  display: flex;
  flex-direction: column;
  margin: 30px 20px;
}
.header {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
  align-content: center;
  justify-content: center;
  font-size: 70px;
  font-weight: 500;
  font-style: normal;
  color: #dc3545;
}

.first-container,
.second-container,
.third-container {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  height: 60vh;
  align-items: center;
  margin: 20px 30px 40px 30px;
  padding-bottom: 0%;
}

.first-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: hidden;
  width: 150%;
  max-height: 600px;
  padding-bottom: 0px;
  margin-top: 15px;
}

.second-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 200%;
  overflow-x: hidden;
  max-height: 600px;
  padding-bottom: 0px;
}

.third-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 150%;
  overflow-x: hidden;
  max-height: 600px;
}
.about-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 30px;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 50px;
  color: #dc3545;
}
.first-para,
.third-para {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-wrap: wrap;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  align-content: center;
  padding-left: 30px;
  padding-right: 50px;
  letter-spacing: 1px;
  line-height: auto;
}

.second-para {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  align-content: center;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 1px;
}
