.landing-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  max-height: 700px;
  max-width: 700px;
}

.landing-header {
  font-family: "Crimson Text", serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.1;
  margin: 10px;
  color: black;
}
.head-btn {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 10px;
  padding: 20px;
}

.first-btn,
.second-btn,
.third-btn,
.fourth-btn {
  display: flex;
  background-color: rgb(206, 213, 216);
  flex-direction: row;
  padding: 0px 50px;
  height: 52px;
  left: 0px;
  top: 0px;
  text-decoration: none;
  border-radius: 15px;
  margin: 4px;
}

.btn-text {
  font-style: normal;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-align: center;
}
