.landing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.landing-box {
  display: inline-block;
  font-weight: 900;
}
.landing-image {
  display: flex;
  flex-direction: row;
  margin: 60px 20px 0px 40px;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  max-height: 500px;
  max-width: 500px;
  float: right;
}

.landing-header {
  display: flex;
  flex-direction: row;
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 0;
  margin: 150px 20px 0px 40px;
  color: #212529;
}

.landing-para {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 10px auto;
  font-style: normal;
  text-align: center;
  letter-spacing: 0;
  color: #212529;
}

.header-btn {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 10px;
  padding: 20px;
}

.first-btn,
.second-btn,
.third-btn,
.fourth-btn {
  display: flex;
  background-color: #dc3545;
  flex-direction: row;
  padding: 0px 20px;
  height: 52px;
  left: 0px;
  top: 0px;
  text-decoration: none;
  border-radius: 25px;
  margin: 4px;
}

.btn-text {
  font-style: normal;
  color: white;
  font-weight: 300;
  font-size: 25px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-align: center;
}
