.landing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  margin: 5px;
  padding: 0;
  flex-wrap: wrap;
}
.landing-box {
  display: inline-block;
  font-weight: 900;
}
.landing-image {
  display: flex;
  flex-direction: row;
  margin: 60px 20px 0px 30px;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  max-height: 700px;
  max-width: 650px;
  float: right;
}

.landing-header {
  display: flex;
  flex-direction: row;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 0;
  margin: 123px 20px 0px 40px;
  color: #212529;
}

.landing-para {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin: 0px auto;
  font-style: normal;
  text-align: left;
  letter-spacing: 0;
  margin: 15px 15px 0px 40px;
  color: #dc3545;
}

.search-box {
  background-color: white;
  height: 60px;
  width: 40%;
  text-align: left;
  padding: 15px;
  float: left;
  border-radius: 25px;
  outline: none;
  border: 1px solid #dc3545;
}

.search-box:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
select {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  height: 60px;
  outline: none;
  border: 1px solid #dc3545;
}

.city-search-box {
  background-color: white;
  padding-left: 0%;
  padding-right: 2%;
  text-align: center;
  cursor: pointer;
}

select:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.submit-button {
  border-radius: 100px;
  height: 60px;
}

Button {
  border-radius: 25px;
}

.submit-text {
  margin: auto;
  text-align: center;
  justify-content: center;
  padding-top: 5px;
  font-weight: 600;
  font-size: 20px;
}
