.landing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  flex-wrap: wrap;
}
.landing-box {
  display: inline-block;
  font-weight: 900;
  margin: 10px 10px 10px 10px;
}
.landing-image {
  display: flex;
  flex-direction: row;
  margin: 60px 20px 5px 0px;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  max-height: 800px;
  max-width: 650px;
  float: right;
}

.landing-header {
  display: flex;
  flex-direction: row;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-size: 45px;
  font-weight: 750;
  letter-spacing: 1px;
  margin: 110px 20px 10px 60px;
  color: #212529;
}

.landing-para {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin: 30px 20px 10px 60px;
  font-style: normal;
  text-align: left;
  letter-spacing: 1px;
  color: #dc3545;
  padding-top: 20px;
}

.search-box {
  background-color: white;
  height: 60px;
  width: 70%;
  text-align: left;
  padding: 15px;
  float: left;
  border-radius: 25px;
  outline: none;
  border: 2px solid #dc3545;
  margin-left: 10px;
  margin-right: 0px;
}

.search-box:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
select {
  width: 100%;
  padding: 5px;
  margin-left: 0px;
  border-radius: 25px;
  height: 60px;
  outline: none;
  border: 2px solid #dc3545;
}

.city-search-box {
  background-color: white;
  margin-left: 0px;
  padding-left: 0px;
  text-align: center;
  cursor: pointer;
}

select:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.submit-buttons {
  height: 60px;
  padding: 5px;
  margin-left: 5px;
}

Button {
  border-radius: 25px;
}

.submit-text {
  margin: auto;
  text-align: center;
  justify-content: center;
  padding-top: 5px;
  font-weight: 600;
  font-size: 20px;
}

.react-icons {
  vertical-align: middle;
  size: 3em;
}
